<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Debug" internalLogFile="c:\log\nlog-window.log" >


  <targets>
    <target xsi:type="RichTextBox"
            name="rich_iis_log"
            layout="${date:format=HH\:mm\:ss}|${uppercase:${level}}|${message} ${exception:format=tostring} ${rtb-link:inner=${event-properties:item=ShowLink}}"
            formName="Deploy"
            ControlName="rich_iis_log"
            autoScroll="true"
            maxLines="0"     
            allowAccessoryFormCreation="false"            
            supportLinks="true"            
            useDefaultRowColoringRules="true" />

    <target xsi:type="RichTextBox"
            name="rich_windowservice_log"
            layout="${date:format=HH\:mm\:ss}|${uppercase:${level}}|${message} ${exception:format=tostring} ${rtb-link:inner=${event-properties:item=ShowLink}}"
            formName="Deploy"
            ControlName="rich_windowservice_log"
            autoScroll="true"
            maxLines="0"     
            allowAccessoryFormCreation="false"            
            supportLinks="true"            
            useDefaultRowColoringRules="true" />
            
    <target xsi:type="RichTextBox"
            name="rich_linuxservice_log"
            layout="${date:format=HH\:mm\:ss}|${uppercase:${level}}|${message} ${exception:format=tostring} ${rtb-link:inner=${event-properties:item=ShowLink}}"
            formName="Deploy"
            ControlName="rich_linuxservice_log"
            autoScroll="true"
            maxLines="0"     
            allowAccessoryFormCreation="false"            
            supportLinks="true"            
            useDefaultRowColoringRules="true" />
                
    <target xsi:type="RichTextBox"
            name="rich_docker_log"
            layout="${date:format=HH\:mm\:ss}|${uppercase:${level}}|${message} ${exception:format=tostring} ${rtb-link:inner=${event-properties:item=ShowLink}}"
            formName="Deploy"
            ControlName="rich_docker_log"
            autoScroll="true"
            maxLines="0"     
            allowAccessoryFormCreation="false"            
            supportLinks="true"            
            useDefaultRowColoringRules="true" />
             
    <target xsi:type="RichTextBox"
            name="rich_config_log"
            layout="${date:format=HH\:mm\:ss}|${uppercase:${level}}|${message} ${exception:format=tostring} ${rtb-link:inner=${event-properties:item=ShowLink}}"
            formName="Deploy"
            ControlName="rich_config_log"
            autoScroll="true"
            maxLines="0"     
            allowAccessoryFormCreation="false"            
            supportLinks="true"            
            useDefaultRowColoringRules="true" />
             
    <target xsi:type="RichTextBox"
            name="rich_docker_image_log"
            layout="${date:format=HH\:mm\:ss}|${uppercase:${level}}|${message} ${exception:format=tostring} ${rtb-link:inner=${event-properties:item=ShowLink}}"
            formName="Deploy"
            ControlName="rich_docker_image_log"
            autoScroll="true"
            maxLines="0"     
            allowAccessoryFormCreation="false"            
            supportLinks="true"            
            useDefaultRowColoringRules="true" />
            
           
      <!--<word-coloring backgroundColor="String"
                   fontColor="String" ignoreCase="Boolean"
                   regex="String"
                   style="Enum"
                   text="String"
                   wholeWords="Boolean"/>


    <row-coloring backgroundColor="String"
                  condition="Condition"
                 fontColor="String"
                 style="Enum"/>-->
  </targets>
  <rules>

    <logger name="rich_iis_log" minlevel="Debug" writeTo="rich_iis_log" />
	<logger name="rich_windowservice_log" minlevel="Debug" writeTo="rich_windowservice_log" />
	<logger name="rich_linuxservice_log" minlevel="Debug" writeTo="rich_linuxservice_log" />
	<logger name="rich_docker_log" minlevel="Debug" writeTo="rich_docker_log" />
	<logger name="rich_config_log" minlevel="Debug" writeTo="rich_config_log" />
	<logger name="rich_docker_image_log" minlevel="Debug" writeTo="rich_docker_image_log" />

  </rules>
</nlog>