<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Debug" internalLogFile="c:\temp\nlog-window.log" >


  <targets>
  

    <target xsi:type="RichTextBox"
            name="target2"
            layout="${date:format=HH\:mm\:ss}|${uppercase:${level}}|${message} ${exception:format=tostring} ${rtb-link:inner=${event-properties:item=ShowLink}}"
         
            formName="Deploy"
            ControlName="rich_iis_log"
            autoScroll="true"
            maxLines="0"
     
            allowAccessoryFormCreation="false"
            
            supportLinks="true"
            useDefaultRowColoringRules="true" />

   
  </targets>
  <rules>

    <logger name="*" minlevel="Debug" writeTo="target2" />

  </rules>
</nlog>