<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Token" value="" />
    <add key="Port" value="8088" />
    <!--把发过日期超过10天的发布文件夹删除防止磁盘占用过大 10代表10天-->
    <add key="ClearOldPublishFolderOverDays" value="10" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>